.boite{
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 15px;
    gap: 10px;
}
.border{
   border: solid 1px; 
   border-radius: 10px;
  
}
.grande{
    width: 600px;
    height: 400px;
    display: flex;
}
.boite1, .boite{
    flex: 1;
}
