.boite{
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 15px;
    gap: 10px;
}
.border{
   border: solid 1px; 
   border-radius: 10px;
   border: 0;
}
.boite-gauche, .boite-droit{
    width: 60%;
    padding: 10px;
    justify-content: flex-end;
}
.boite-gauche{
    background-color: black;
    color: red;
    height: 150px;
}
.boite-droit{
    background-color: red;
    color: white;
    height: 100px;
}